body{
    background-color: #34495E;
}

.navbar{
    display: flex;
    justify-content: center;
}

.text-navbar{
    color: #000;
}

.container-card{
    text-align: center;
    display: flex;
    height: 500px;
    align-items: center;
    justify-content: center;
}